################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpStar/FileContentIndex/f277d8b0-9288-4c05-9226-1e1900c00bdb.vsidx
